<%- include('partials/header.ejs') %>
<h1>Compose</h1>
<form action="/compose" method="POST">
    <div class="form-group">
        <label for="postTitle">Title</label>
        <textarea class="form-control" id="postTitle" name="postTitle" rows="1"></textarea>
        <label for="postBody">Post</label>
        <textarea class="form-control" id="postBody" name="postBody" rows="3"></textarea>
      </div>
    <input type="submit" class="btn btn-primary" value="Publish">
  </form>
<%- include('partials/footer.ejs') %>